.rest {
    width: 110px;
    height: 120px;
    background-color: silver;
    padding: 2px;
    margin: 20px;
    position: relative;
    float: left;
}

.pick {
    width: 110px;
    height: 120px;
    background-color: silver;
    padding: 2px;
    margin: 20px;
    position: relative;
    float: left;
}

.equiq {
    width: 110px;
    height: 120px; 
    background-color: silver; 
    padding: 2px;
    margin: 20px;
    position: relative; 
    float: left;
}